* {
	box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    width: 100%;
    background: #eaeaea;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px; /* Reducir el espacio superior */
}

main {
    max-width: 800px;
    width: 90%;
    margin: -50px auto 0 auto; /* Agregar margen superior */
    padding: 40px;
    margin-left: 50px; /* Ajuste para mover el formulario hacia la izquierda */
}





.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}


.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: row; /* Cambiado de column a row */
	align-items: flex-end; /* Alinear en la parte inferior */
	
	margin-top: 20px; /* Añadir un poco de espacio superior */
}


.formulario__btn-guardar {
    height: 45px;
    line-height: 45px;
    width: auto; /* Ajustar el ancho automáticamente */
    padding: 0 20px; /* Agregar relleno a los lados */
    background: #000; /* Cambiar el color de fondo a negro */
    color: #fff; /* Color del texto blanco */
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
    margin-top: 10px; /* Agregar un poco de margen superior */
}

.formulario__btn-guardar:hover {
    background: #333; /* Cambiar el color de fondo al pasar el mouse */
    box-shadow: 3px 0px 30px rgba(0, 0, 0, 0.2); /* Agregar sombra al pasar el mouse */
}


.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
	box-shadow: 3px 0px 30px rgba(0, 0, 0, 0); /* Agregar sombra al botón */
}

.formulario__btn:hover {
    background: #333;
    box-shadow: 3px 0px 30px rgba(0, 0, 0, 0.2); /* Agregar sombra al pasar el mouse */
}

/* Estilos para la tabla */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px; /* Agregado para separar la tabla de otros elementos */
}

th, td {
    border: 1px solid #888; /* Borde oscuro */
    padding: 8px; /* Espaciado interno */
    text-align: left; /* Alineación del texto */
}

th {
    background-color: #f2f2f2; /* Fondo gris claro para los encabezados */
}

/* Estilos para resaltar la primera columna (número del proceso) */
td:first-child {
    font-weight: bold; /* Hacer el número del proceso en negrita */
}

/* Estilos para las filas impares */
tr:nth-child(odd) {
    background-color: #f9f9f9; /* Fondo gris claro para filas impares */
}

/* Estilos para las filas al pasar el mouse */
tr:hover {
    background-color: #f2f2f2; /* Fondo gris claro al pasar el mouse */
}


/*
.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}



.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}


.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}


@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}

*/
